{% extends 'base.html' %}
{% block title %}Quotation List{% endblock title %}
{% block content %}

<section class="p-t-20">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h3 class="title-5 m-b-35">data table</h3>
				<div class="table-data__tool">
					<div class="table-data__tool-left">
						<div class="rs-select2--light rs-select2--md">
							<select class="js-select2" name="property">
								<option selected="selected">All Properties</option>
								<option value="">Option 1</option>
								<option value="">Option 2</option>
							</select>
							<div class="dropDownSelect2"></div>
						</div>
						<div class="rs-select2--light rs-select2--sm">
							<select class="js-select2" name="time">
								<option selected="selected">Today</option>
								<option value="">3 Days</option>
								<option value="">1 Week</option>
							</select>
							<div class="dropDownSelect2"></div>
						</div>
						<button class="au-btn-filter">
							<i class="zmdi zmdi-filter-list"></i>filters</button>
					</div>
					<div class="table-data__tool-right">
						<a href="{% url 'quotation_add' %}"><button class="au-btn au-btn-icon au-btn--green au-btn--small"><i class="zmdi zmdi-plus"></i>add item</button></a>
						
						<div class="rs-select2--dark rs-select2--sm rs-select2--dark2">
							<select class="js-select2" name="type">
								<option selected="selected">Export</option>
								<option value="">Option 1</option>
								<option value="">Option 2</option>
							</select>
							<div class="dropDownSelect2"></div>
						</div>
					</div>
				</div>
				<div class="table-responsive table-responsive-data2">
					<table class="table table-data2">
						<thead>
							<tr>
								<th>
									<label class="au-checkbox">
										<input type="checkbox">
										<span class="au-checkmark"></span>
									</label>
								</th>
								<th>name</th>
								<th>status</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							{% for quotation in quotations %}
							<tr class="tr-shadow">
								<td>{{quotation.id}}</td>
								<td>
									
									<a href="{% url 'quotation_detail' quotation.id %}"><button>quotation for: {{quotation.customer}} at {{quotation.date|date:'d-m-Y'}}</button></a>
								</td>
								<td>
									<a href="{% url 'quotation_edit' quotation.id %}"><button>Edit</button></a>
									<a href="{% url 'quotation_delete' quotation.id %}"><button>Delete</button></a>
								</td>
								<td>
									<div class="table-data-feature">
										<button class="item" data-toggle="tooltip" data-placement="top" title="Send"><i class="zmdi zmdi-mail-send"></i></button>
										<button class="item" data-toggle="tooltip" data-placement="top" title="Edit"><a href="{% url 'quotation_edit' quotation.id %}"><i class="zmdi zmdi-edit"></i></a></button>
										<button class="item" data-toggle="tooltip" data-placement="top" title="Delete"><a href="{% url 'quotation_delete' quotation.id %}"><i class="zmdi zmdi-delete"></i></a></button>
										<button class="item" data-toggle="tooltip" data-placement="top" title="More"><i class="zmdi zmdi-more"></i></button>
									</div>
							</td>
							</tr>
							<tr class="spacer"></tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<a href="{% url 'quotation_add' %}"><button>Add</button></a>
				<br><br>
				{% for quotation in quotations %}
				{{quotation.id}}. quotation for: {{quotation.customer}} at {{quotation.date|date:'d-m-Y'}}
				<a href="{% url 'quotation_detail' quotation.id %}"><button>Detail</button></a>
				<a href="{% url 'quotation_edit' quotation.id %}"><button>Edit</button></a>
				<a href="{% url 'quotation_delete' quotation.id %}"><button>Delete</button></a>
				<br><br>
				{% endfor %}
			</div>
		</div>
	</div>
</section>

{% endblock content %}