{% extends 'base.html' %}
{% block title %} Quotation list {% endblock %}
{% block breadcrumb %} Quotation list {% endblock %}
{% block breadcrumb-link %} {% url 'quotation_list' %} {% endblock %}

{% block content %}
<div class="row">
	<!-- ============================================================== -->
	<!-- data table  -->
	<!-- ============================================================== -->
	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
		<div class="card">
			<div class="card-header">
				<a href="{% url 'quotation_add' %}"><button class="btn btn-success">Create new quotation</button></a>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table id="example" class="table table-striped table-bordered second" style="width:100%">
						<thead>
							<tr>
								<th>ID</th>
								<th>Customer</th>
								<th>Date</th>
								<th>Status</th>
								<th>Start date</th>
								<th>Salary</th>
							</tr>
						</thead>
						<tbody>
							{% for quotation in quotations %}
							<tr class="tr-shadow" id="{{quotation.id}}">
								<td>{{quotation.id}}</td>
								<td><a href="{% url 'quotation_detail' quotation.id %}">{{quotation.customer}}</a></td>
								<td>{{quotation.date|date:'d-m-Y'}}</td>
								{% if quotation.status == 'Refuse' %}
								<td style="color: red;">{{quotation.status}}</td>
								{% else %}
								<td>{{quotation.status}}</td>
								{% endif %}
								<td>{{quotation.comment}}</td>
								<td>
									<div class="table-data-feature">
										{% if quotation.status == 'Confirm' %}
										<a href="{% url 'sale_order_add' quotation.id %}"><button class="btn btn-warning">Create Order</button></a>
										{% else %}
										<a href="{% url 'quotation_update_status' quotation.id %}"><button class="btn btn-primary">ReSend</button></a>
										<a href="{% url 'quotation_detail' quotation.id %}"><button class="btn btn-info">Edit</button></a>
										<a href="{% url 'quotation_delete' quotation.id %}"><button class="btn btn-danger">Delete</button></a>
										{% endif %}
									</div>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- ============================================================== -->
	<!-- end data table  -->
	<!-- ============================================================== -->
</div>
{% endblock content %}