{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <table>
          <thead>
              <tr>
                  <th>Name</th>
                  <th>Delete</th>
              </tr>
          </thead>

            {{ children.management_form }}
            {% for child_form in children.forms %}
                {% for hidden in child_form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                <tr class="formset_row">
                    {% for field in child_form.visible_fields %}
                        <td>
                            {{ field.errors.as_ul }}
                            {{ field }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>

        <p>
            <input type="submit" value="Save">
            <a href="">back to the list</a>
        </p>
    </form>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.formset/1.2.2/jquery.formset.js" integrity="sha512-Tsdobfrx6IMRPi8d5z3AtjWNSbZxGm58IZFnblaRaepw562ZITlRhUM2Zu87vbvZjQxGmmto+31zEBLZ4wjs+w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript">
    $('.formset_row').formset({
        addText: 'add child',
        deleteText: 'remove',
        prefix: 'child_set'
    });
</script>
</body>
</html>