{% extends 'base.html' %}
{% block title %} Sale order list {% endblock %}
{% block breadcrumb %} Sale order list {% endblock %}
{% block breadcrumb-link %} {% url 'sale_order_list' %} {% endblock %}

{% block content %}
<div class="row">
	<!-- ============================================================== -->
	<!-- data table  -->
	<!-- ============================================================== -->
	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
		<div class="card">
			<div class="card-header">
				<a href="#"><button class="btn btn-success">Create new order</button></a>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table id="example" class="table table-striped table-bordered second" style="width:100%">
						<thead>
							<tr>
								<th>ID</th>
								<th>Customer</th>
								<th>Date</th>
								<th>Status</th>
								<th>Comment</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							{% for sale_order in sale_orders %}
							<tr class="tr-shadow" id="{{sale_order.id}}">
								<td>{{sale_order.id}}</td>
								<td><a href="{% url 'sale_order_detail' sale_order.id %}">{{sale_order.customer}}</a></td>
								<td>{{sale_order.date|date:'d-m-Y'}}</td>
								{% if sale_order.status == 'Refuse' %}
								<td style="color: red;">{{sale_order.status}}</td>
								{% else %}
								<td>{{sale_order.status}}</td>
								{% endif %}
								<td>{{sale_order.comment}}</td>
								<td>
									<div class="table-data-feature">
										{% if sale_order.status == 'Confirm' %}
										<a href="{% url 'sale_order_add' sale_order.id %}"><button class="btn btn-warning">Create Order</button></a>
										{% else %}
										<a href="#"><button class="btn btn-primary">ReSend</button></a>
										<a href="{% url 'sale_order_detail' sale_order.id %}"><button class="btn btn-info">Edit</button></a>
										{% endif %}
										<a href="{% url 'sale_order_delete' sale_order.id %}"><button class="btn btn-danger">Delete</button></a>
									</div>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- ============================================================== -->
	<!-- end data table  -->
	<!-- ============================================================== -->
</div>
{% endblock content %}