{% extends 'base.html' %}
{% block title %}sale_order List{% endblock title %}
{% block content %}

<section class="p-t-10">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h3 class="title-5 m-b-35">data table</h3>
				<div class="table-data__tool">
					<div class="table-data__tool-left">
						<div class="rs-select2--light rs-select2--md">
							<select class="js-select2" name="property">
								<option selected="selected">All Properties</option>
								<option value="">Option 1</option>
								<option value="">Option 2</option>
							</select>
							<div class="dropDownSelect2"></div>
						</div>
						<div class="rs-select2--light rs-select2--sm">
							<select class="js-select2" name="time">
								<option selected="selected">Today</option>
								<option value="">3 Days</option>
								<option value="">1 Week</option>
							</select>
							<div class="dropDownSelect2"></div>
						</div>
						<button class="au-btn-filter">
							<i class="zmdi zmdi-filter-list"></i>filters</button>
					</div>
					<div class="table-data__tool-right">
						<a href=""><button class="au-btn au-btn-icon au-btn--green au-btn--small"><i class="zmdi zmdi-plus"></i>add item</button></a>
						
						<div class="rs-select2--dark rs-select2--sm rs-select2--dark2">
							<select class="js-select2" name="type">
								<option selected="selected">Export</option>
								<option value="">Option 1</option>
								<option value="">Option 2</option>
							</select>
							<div class="dropDownSelect2"></div>
						</div>
					</div>
				</div>
				<div class="table-responsive table-responsive-data2">
					<table class="table table-data2">
						<thead>
							<tr>
								<th>
									<label class="au-checkbox">
										<input type="checkbox">
										<span class="au-checkmark"></span>
									</label>
								</th>
								<th>Customer</th>
								<th>Date</th>
								<th>Status</th>
								<th>Note</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							{% for sale_order in sale_orders %}
							<tr class="tr-shadow" id="{{sale_order.id}}">
								<td>{{sale_order.id}}</td>
								<td><a href="{% url 'sale_order_detail' sale_order.id %}"><button>{{sale_order.customer}}</button></a></td>
								<td>{{sale_order.date|date:'d-m-Y'}}</td>
								{% if sale_order.status == 'Refuse' %}
								<td style="color: red;">{{sale_order.status}}</td>
								{% else %}
								<td>{{sale_order.status}}</td>
								{% endif %}
								<td>{{sale_order.comment}}</td>
								<td>
									<div class="table-data-feature">
										{% if sale_order.status == 'Confirm' %}
										<a href="{% url 'sale_order_add' sale_order.id %}"><button class="btn btn-success">Create Order</button></a>
										{% else %}
										<button class="item" data-toggle="tooltip" data-placement="top" title="ReSend"><a href="#"><i class="zmdi zmdi-mail-send"></i></a></button>
										<button class="item" data-toggle="tooltip" data-placement="top" title="Edit"><a href="{% url 'sale_order_detail' sale_order.id %}"><i class="zmdi zmdi-edit"></i></a></button>
										<button class="item" data-toggle="tooltip" data-placement="top" title="Delete"><a href="{% url 'sale_order_delete' sale_order.id %}"><i class="zmdi zmdi-delete"></i></a></button>
										{% endif %}
									</div>
							</td>
							</tr>
							<tr class="spacer"></tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock content %}